<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matianyi.accountingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.GeneralStaticsActivity"></activity>
        <activity android:name=".activity.AddCustomRecordActivity" />
        <activity android:name=".activity.AboutPageActivity" />
        <activity android:name=".activity.StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".activity.MostIncomeCategoryActivity" />
        <activity android:name=".activity.IncomeRecentMonthsActivity" />
        <activity android:name=".activity.MostExpenditureCategoryActivity" />
        <activity android:name=".activity.ExpenditureRecentMonthsActivity" />
        <activity android:name=".activity.StatisticsActivity" />
        <activity
            android:name=".activity.AddRecordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>